.new-badge {
  background-color: hsl(180, 29%, 50%);
  border-radius: 12%;
  margin-left: 1em;
  border-radius: 999em; /* "pill hack" */
  margin-bottom: 1rem;
  min-width: 70px;
  /* width: 70px; */
  height: 30px;
}

.new-badge p {
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-family: "Spartan", sans-serif;
  color: rgb(255, 249, 249);
  font-weight: 600;
  font-size: 1em;
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.dark{
   background-color: hsl(180, 14%, 20%); 
}